<!DOCTYPE html>
<html>
<head>
  <title>RspecAccountTester</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

  <p class="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p>

  <% if current_user.present? %>
    <%= link_to "Account Home Page", subdomain_root_url(:subdomain => current_user.account.subdomain)  %>
    <%= "| Signed in as: #{current_user.email}" %>
    <%= link_to 'Projects', projects_path %>
    <%= link_to "Posts", project_posts_path(:subdomain => current_user.account.subdomain, :project_id => @current_project.id) if @current_project.present? %>
    <%= link_to 'Sign Out', destroy_user_session_path, :method => :delete %>

  <% else %>
    <%= link_to "Sign In", "/users/sign_in" %>
    <%= link_to "Sign Up", '/users/sign_up' %>

  <% end %>

<%= yield %>

</body>
</html>
